<?xml version="1.0"?>
<config>
  <modules>
    <Chatstack_Chatstack>
      <version>1.0.0</version>
    </Chatstack_Chatstack>
  </modules>
  <frontend>
    <routers>
      <chatstack>
        <use>standard</use>
        <args>
          <module>Chatstack_Chatstack</module>
          <frontName>chatstack</frontName>
        </args>
      </chatstack>
    </routers>
    <layout>
      <updates>
        <chatstack>
          <file>chatstack.xml</file>
        </chatstack>
      </updates>
    </layout>
  </frontend>
  <global>
    <blocks>
      <chatstack>
        <class>Chatstack_Chatstack_Block</class>
      </chatstack>
    </blocks>
    <helpers>
      <chatstack>
        <class>Chatstack_Chatstack_Helper</class>
      </chatstack>
    </helpers>
    <models>
      <chatstack>
        <class>Chatstack_Chatstack_Model</class>
      </chatstack>
    </models>
  </global>
</config>
